/* GENERAL */
header {
  background: #ED4C67;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px 10px;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
}

main {
  display: flex;
  flex-wrap: wrap;
}

/* MAP */
#map {
  flex-basis: 70%;
  height: 100%;
}

/* SIDE BAR */
#sidebar {
  flex-basis: 30%;
}

.locations-list li {
  cursor: pointer;
}