/* APP */
#App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background: #ED4C67;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px 10px;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
}

main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
}

/* MAP */
#map {
  flex-grow: 1;
}

/* SIDE BAR */
#sidebar {
  flex: 300px 0 0;
  background: #2f3640;
  color: #fff;
  transition: all 0.5s;
  margin-left: -300px;
}

#sidebar.active {
  margin-left: 0px;
}

.hamburger-icon {
  float: left;
  margin: 5px 0 0 20px;
  font-size: 3em;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.locations-list,
form input,
form button{
  font-family: 'Lato', sans-serif;
}

form {
  display: flex;
  width: 100%;
}

form input {
  flex-grow: 1;
  padding: 10px 10px;
  font-size: 1em;
  color: #2f3640;
  border: 1px solid #fff;
}

form button {
  flex-basis: 20%;
  background: #2f3640;
  color: #fff;
  cursor: pointer;
  border: none;
  border: 2px solid #fff;
}

.locations-list {
  padding: 0;
  list-style-type: none;
}

.locations-list li a{
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}

.locations-list li:hover {
  background: #ED4C67;
}

/* INFOWINDOW */
.infowindow {
  max-width: 200px;
}

.infowindow-name {
  font-size: 1.1em;
  font-weight: 600;
  margin: 10px 0 5px 0;
}

.infowindow-type {
  color: #777;
  font-style: italic;
}